
ul.todo-list[data-filter=SHOW_ACTIVE] li.completed {
    display: none;
}

ul.todo-list[data-filter=SHOW_COMPLETED] li.todo {
    display: none;
}

ul.todo-list li.completed:after {
    content: 'completed';
    font-size: 10px;
    color: #999;
    margin-left: 10px;
    position: absolute;
    line-height: 20px;
}
